.sidebar-container {
  height: 0;
}

.sidebar-toggle {
  background: #fff;
  cursor: pointer;
  display: none;
  padding: 16px;

}

.sidebar {
  height: 100%;
  font-size: 2.7vmin;
  position: fixed;
  width: 25vw;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: #68536C;
  /*background-color: #f6f8fa;*/
  border-right: 1px solid #e2e4e6;
  overflow-y: scroll;
  color: rgba(255, 255, 255, 1);
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

.float{
  width: 15vw;
}

.sidebar .sidebar-header {
  height: auto;
  text-align: center;
}

.sidebar .sidebar-header .logo {
  display: inline-block;
  /*padding: 16px;*/
  /*color: #4a4a4a;*/
  color: rgba(255, 255, 255, 1);
}

.sidebar .sidebar-header .tagline {
  display: inline-block;
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 85%;
}

.sidebar-logo-container {
  max-width: 25vmin;
  padding: 10%;
  margin: 0 auto;
}

.sidebar .sidebar-close-button {
  display: none;
  cursor: pointer;
  float: right;
  /*font-size: 20px;*/
  padding: 16px;
}

.sidebar-links div > a {
	display: block;
	text-decoration: none;
	margin: 0 auto 5px auto;
	/*padding: 10px 0 10px 5px;*/
  padding: 5px 0 5px 20px;
	text-align: left;
  color: rgba(255, 255, 255, 0.6);
	/*color:  #4a4a4a;*/
	font-weight: bold;
	line-height: 2;
}

.sidebar-links div.selected > a {
	/*background-color: #e9e9ea;*/
	/*color: #4a4a4a;*/
  color: rgba(255, 255, 255, 1);
	line-height: 2.3;
	margin: 0;
}

.sidebar-links div > a i.fa {
	position: relative;
	font-size: 85%;
	top: 3px;
	width: 40px;
	text-align: center;
}

.sidebar-links div ul.sub-links {
	max-height: 0;
	overflow: hidden;
	list-style: none;
	padding: 0 0 0 60px;
	/*color:  #4a4a4a;*/
  color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
	/*line-height: 24px;*/
	margin: 0;
	transition: 0.4s;
}

.sidebar-links div.selected ul.sub-links {
	max-height: 30vh;
	padding: 0px 0 0px 60px;
}

.sidebar-links div .sub-links a {
	text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
	/*color: #4a4a4a;*/
	display: block;
	text-align: left;
}

.sidebar-links div .sub-links a.selected-link {
  /*color: #944eb8;*/
  color: rgba(255, 255, 255, 1);
}

/* Link Colors */

.sidebar-links div.link-blue > a {
	border-color: #487db2;
}

.sidebar-links div.link-blue > a i.fa {
	color: #487db2;
}

.sidebar-links div.link-red > a {
	border-color: #da4545;
}

.sidebar-links div.link-red > a i.fa {
	color: #da4545;
}

.sidebar-links div.link-yellow > a {
	border-color: #d0d237;
}

.sidebar-links div.link-yellow > a i.fa {
	color: #d0d237;
}

.sidebar-links div.link-green > a {
	border-color: #86be2e;
}

.sidebar-links div.link-green > a i.fa {
	color: #86be2e;
}

.sidebar-ctas {
  max-width: 100%;
  list-style: none;
  text-align: center;
}


.sidebar-ctas li {
  display: inline-block;
  padding: 0 0.75vw;
}

@media screen and (max-width: 765px) {
  .sidebar-container {
    height: 56px;
  }

  .sidebar-toggle {
    display: inline-block;
  }

  .sidebar-logo-container {
    max-width: 50vmin;
    padding: 24px;
    margin: 0 auto;
  }

  .sidebar {
    width: 100%;
    font-size: 7vmin;
    transform: translateX(-100%);
    transition: transform .3s ease;
  }

  .sidebar.opened {
    transform: translateX(0);
  }

  /*.sidebar.opened.float{
    width: 75%;
  }*/

  .sidebar .sidebar-close-button {
    display: block;
  }
}
