.skills-container a:link {
   color: rgba(0,0,0,1);
}

.skills-container a:hover {
   opacity: 0.5;
}

.skills-container {
  text-align: center;
}

.skills-container h3 {
  font-size: 2vw;
  margin-bottom: 20px;
}

.horizontal-list {
	min-width: 100px;
	list-style: none;
	padding: 20px;
  margin: 0 auto;
}

.horizontal-list li {
	display: inline-block;
  padding: 0 1vw;
}

.horizontal-list li i {
  font-size: 4em;
}

.horizontal-list li p {
  max-width: 100%;
  font-size: 2.5vmin;
}

.skills-current .horizontal-list li {
  max-width: 150px
}

.skills-current .horizontal-list li p{
  font-size: 2em;
}

.skills-center {
  text-align: center;
}

@keyframes float {
	0% {
		box-shadow: 0 15px 5px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 45px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 15px 5px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.levitate {
	/*width: 150px;
	height: 150px;*/
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
